<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let odd of oddList">
            {{odd}}
          </li>
        </div>

        <div *appUnless="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let even of evenList">
            {{even}}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let even of evenList">
            {{even}}
          </li>
        </div> -->

        <!-- Tem o mesmo efeito do bloco acima -->
        <!-- Isso é o resultado do * que utilizamos no ngIf -->
        <!-- Ela cria uma diretiva estrutural, a * é sugar sintaxe -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item" [ngClass]="{odd: even % 2 !== 0}"
              [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let even of evenList">
              {{even}}
            </li>
          </div>
        </ng-template> -->

      </ul>
      <p appBasicHighlight> Estilizado com um diretiva básica!</p>
      <!-- <p appBetterHighlight [defaultColor]="'darkred'" [highlightColor]="'darkorange'">Teste</p> -->
      <!-- OUtra maneira de aplicar -->
      <!--[appBetterHighlight]="'darkorange'" -> passando um alias com o nome do seletor para o input (altera no ts) -->
      <!--defaultColor="darkred" -> Só é possível quando a propriedade é do tipo string -->
      <p [appBetterHighlight]="'darkorange'" defaultColor="darkred">Teste</p>
    </div>
  </div>
</div>
