.ingredient-item {
  margin-top: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.img-preview {
  display: flex;
  justify-content: center;
}

img {
  max-height: 250px;
}
